

  h5,p {
    display: block;/* or inline-block */
    text-overflow: ellipsis;
    /* word-wrap: break-word;
    white-space: nowrap; */
    overflow: hidden;
    max-height: 3.6em;
    line-height: 1.8em;
  }